<a href="https://colab.research.google.com/github/gunurusreekethana4/sreekethana_INFO5371_SPRING2023/blob/main/In_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
counter = 0
for c in "sreekethana": 
    counter+=1
print (counter)

11

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
def char_frequency(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
           
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
def sum_list(items):
    sum = 0
    for x in items:
        sum += x
    return sum
print(sum_list([1,2,3,4,5,6]))

21

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
def change(str1):
  c = str1[0]
  str1 = str1.replace(c, '$')
  str1 = c + str1[1:]

  return str1

print(change('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
a=2
b=3
s=3.14*(1+a/b)**3
print(s)

14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
tuples = ("s", "r", "e", "e", 4, "k", "e", "t", "h", "a","n", "a")
print("z" in tuples)
print(4 in tuples)

False
True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
set={1,2,3,4,5}
print(max(set))
print(min(set))

5
1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
# write your answer here
import random
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

members = 5
random.shuffle(student_list)
for i in range(len(student_list) // members):
    print('Group {} consists of:'.format(i+1))
    group = student_list[i*members:i*members + members]
    for student in group:
        print(student)

Group 1 consists of:
ds0814
sk1386
sk1313
ak0956
ja0964
Group 2 consists of:
kg0470
sk1458
av0659
vm0377
sb1357
Group 3 consists of:
sm1640
vb0218
nv0234
sg1297
sa1198
Group 4 consists of:
kg0569
pr0353
gn0108
jl1252
hy0232
Group 5 consists of:
fh0141
sc1229
bg0320
ms1500
sm1907
Group 6 consists of:
ak0934
nm0618
sk1390
aos0040
dr0609

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
arr=[1,2,3,4,4,6,7,7]
for i in set(arr):
  if arr.count(i)>1:
    print(i)
  elif len(set(arr)) == len(arr) :
    print(i)

4
7

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date, timedelta

def all_sundays(year):

       dt = date(year, 1, 1)
       
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
for s in all_sundays(2023):
   print(s)

2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31