<a href="https://colab.research.google.com/github/gunurusreekethana4/sreekethana_INFO5371_SPRING2023/blob/main/sreekethana_gunuru_5371_Asgnt_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here
import random
s = []
a=range(12)
for i in a:
  s.append(random.randint(1,100))
print(s)
s.sort()
print("sorted by ascending order:",s)
s.sort(reverse=True)
print("sorted by desending order:",s.sort(reverse=True))
print("Average is",sum(s)/len(s))

[52, 4, 87, 20, 78, 66, 7, 35, 17, 98, 100, 67]
sorted by ascending order: [4, 7, 17, 20, 35, 52, 66, 67, 78, 87, 98, 100]
sorted by desending order: None
Average is 52.583333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
lst1="alias am i alive ?"
lst2="hello world i am sree"
print(lst1.split())
print(lst2.split())

for i in lst1.split():
  if i in lst2.split():
    print(i)

rem_list=['.',',',';',':','!','?'] 
for i in lst1.split():
  if i in rem_list:
    lst1=lst1.replace(i,"")
print(lst1)
for i in lst2.split():
  if i in rem_list:
    lst2=lst2.replace(i,"")
print(lst2)  
a1={}
a2={}
vol=["a","e","i","o","u"]
for i in lst1:
  if i in vol:
    a1[i]=lst1.count(i)
print(a1)
for i in lst2:
  if i in vol:
    a2[i]=lst2.count(i)
print(a2)

['alias', 'am', 'i', 'alive', '?']
['hello', 'world', 'i', 'am', 'sree']
am
i
alias am i alive
hello world i am sree
{'a': 4, 'i': 3, 'e': 1}
{'e': 3, 'o': 2, 'i': 1, 'a': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here
import random
pi=3.14
r=random.randint(1,10)
print(r)
v=(4/3)*pi*(r**3)
print("volume of sphere:",v)

7
volume of sphere: 1436.0266666666666

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
# Your code here
from google.colab import drive
drive.mount('/content/drive')
path='/content/drive/My Drive/Assignment1_denton_housing.csv'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
from collections import Counter
data = pd.read_csv(path)
data.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [ ]:
#Year wise housing data collected and mapped accordingly.
house_dict={}
for j in sorted(list(set(data['year'])))[:-1]:
  prev_year = 0
  next_year = 0
  for col, row in data.iterrows():
    if row['year'] == j and row['title_field'] == 'Occupied Housing Units':
      prev_year += row['value']
    if row['year'] == j+1 and row['title_field'] == 'Occupied Housing Units':
      next_year += row['value']
  house_dict[str(j)+'-'+str(j+1)] = abs(prev_year - next_year)
print(house_dict)

{'2008-2009': 795, '2009-2010': 5091, '2010-2011': 303, '2011-2012': 1404, '2012-2013': 1565, '2013-2014': 2622}

In [ ]:
#Year wise house count in ascending order printed.
sorted_list=sorted(house_dict.values())
year_wise_house_data_ascending={}
for i in sorted_list:
  for k in house_dict.keys():
    if(house_dict[k]==i):
      year_wise_house_data_ascending[k]=house_dict[k]
#Printing the data in ascending order.
for key,value in year_wise_house_data_ascending.items():
  print(key,":",value)

2010-2011 : 303
2008-2009 : 795
2011-2012 : 1404
2012-2013 : 1565
2013-2014 : 2622
2009-2010 : 5091

In [ ]:
#Using the year column data in sorted order
sorted_year_data = sorted(list(set(data['year'])))
for temp_year in sorted_year_data:
  vacant = 0
  year = 0
  number_of_houses = 0
  occupied_ones = 0
  for col, row in data.iterrows():
    #Taking the count for total number of houses
    if row['year'] == temp_year and row['title_field'] == 'Total Housing Units' :
      year = row['year']
      number_of_houses = row['value']
    #Count for Occupied ones
    if row['year'] == temp_year and  row['title_field'] == 'Occupied Housing Units' :
      occupied_ones = row['value']
    #Count for vacant ones.
    if row['year'] == temp_year and  row['title_field'] == 'Vacant Housing Units' :
      vacant = row['value']
  #Calculating the occupied and vacant percentages and change to int type
  percent_occupied = int((occupied_ones / number_of_houses) * 100)
  percent_vacant = int((vacant / number_of_houses) * 100)
  #Formating the output as per requirement.
  print(year," ",str(percent_vacant)+'%'," ",str(percent_occupied)+'%')

2008   10%   89%
2009   9%   90%
2010   8%   91%
2011   9%   90%
2012   6%   93%
2013   8%   91%
2014   5%   94%

In [ ]:
number_of_years=0
house_vacant_years=0
maximim_number_occupied_units=0
maximim_number_vacant_units=0
sorted_year_data = sorted(list(set(data['year'])))
for year_data in sorted_year_data:
 for column,row in data.iterrows():
    if row['year'] == year_data and  row['title_field'] == 'Occupied Housing Units' :
      if row['value']>maximim_number_occupied_units:
        maximim_number_occupied_units=row['value']
        number_of_years=row['year']
    if row['year'] == year_data and  row['title_field'] == 'Vacant Housing Units' :
      if row['value']>maximim_number_vacant_units:
        maximim_number_vacant_units=row['value']
        house_vacant_years=row['year']
print('                       ', 'year',   'value')
print('Occupied Housing Units ' , number_of_years,   maximim_number_occupied_units)
print('Vacant Housing Units   ' ,  house_vacant_years , maximim_number_vacant_units)

                        year value
Occupied Housing Units  2014 46295
Vacant Housing Units    2008 4483

In [ ]:
total_housing = list()
for col, row in data.iterrows():
  if row['title_field'] == 'Total Housing Units':
    total_housing.append(row['value'])
total = len(total_housing)
d_v = 0
for i in total_housing:
  d_v += (1/i)
print(total/d_v)

44398.28543969185